* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    list-style: none;
}

.navbar{
    background: #FDFCDC;
    width: 100%;
    display: absolute;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 900;
}


.logo__container{
    background: #FDFCDC;
    height: 100px;
    width: 100%;
    display: absolute;
    justify-content: center;
    place-items: center;
    align-items: center;
    font-size: 2rem;
    position: fixed;
    top: 0;
    z-index: 900;
}

.navbar__container{
    background: none;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 25px;
    height: 20px;
    z-index: 900;
    width: 100%;
    padding: 0 10px;
}

#navbar__logo{
    text-decoration: none;
    color: #F07167;
    position:absolute;
    top: 20px;
    left: 2%;
    place-items: center;
    align-items: center;
    cursor: pointer;
    padding: 0%;
    font-weight: bolder;
    font-size:xx-large;
}

#navbar__logo span {
    color:#858080;
}

.navbar__menu{
    display:flex;
    position: absolute;
    height: auto;
    list-style: none;
    text-align: center;
    padding: 5px 20px;
    justify-content: center;
}

.logo__container img{
    max-width: 80%;
    height: auto;
    width: auto\9;
}

.navbar__item{
    height: 40px;
    font-size: 100%;
    white-space: nowrap;
}

.navbar__links{
    color:#858080;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    width: 100%;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 20px;
    height: 100%;
    width: 90%;
    border: 0;
    outline: 0;
    border-radius: 20px;
    background:#F07167;
    color:#FDFCDC;
}

.button:hover{
    background: #FED9B7;
    color: #858080;
    font-weight: bold;
}

.navbar__links:hover{
    font-weight: bold;
}

.content{
    background: #FDFCDC;
    margin:0 auto;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    top: 20px;
    z-index: 50;
    flex-direction: column;
    min-height: 100vh;
}

    .content__intro{
        position: absolute;
        top:20px;
        z-index:100;
        width: 100%;
        font-size: 1.5rem;
    }

        .content__intro h3{
            color: #858080;
            position: absolute;
            font-size: 3.8vw;
            font-weight:500;
            top: 10vw;
            left: 15%;
        }

        .content__intro h1{
            background-color: #F07167;
            color: #ffffff;
            position: absolute;
            font-size: 5.5vw;
            top: 15vw;
            left: 15%;
            max-width: fit-content;
            border-right: 4px solid rgb(190, 48, 48);
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2s steps(30, end), blink-caret 1s step-end infinite alternate;
        }

        .content__intro h4 {
            color: #858080;
            position: absolute;
            font-weight: 350;
            font-size: 2.5vw;
            top: 22.5vw;
            width: 40vw;
            left: 15%;
        }

    .content img {
        position: absolute;
        top: 10vw;
        right: 12%;
        text-align: center;
        height: auto;
        max-width: 25%;
        z-index: 10;
        animation: floating 2s linear infinite;
    }

.project{
    display: flex;
    position: absolute;
    top: 10vw;
    justify-content: center;
}

.page_heading{
    color: #858080;
    position:absolute;
    font-size: 6vh;
    white-space: nowrap;
}

.wave_up{
    position:sticky;
    height: 40vh;
    top: 80vh;
    left:10px;
    z-index: 11;
    animation: shiftup 0.75s linear;
}

.wave_down{
    display: absolute;
    position: sticky;
    background: #FDFCDC;
    bottom: 0;
    height: 30vh;
    left:10px;
    z-index: 11;
    animation: shiftdown 0.75s linear;
}

@keyframes shiftup {
    from {
        height: 30vh;
    }
    to {
        height: 40vh;
    }}

 @keyframes shiftdown {
    from {
        height: 40vh;
    }
    to {
        height: 30vh;
    }}


@keyframes floating {
    0% {
        transform: translate(0%, 1%);
    }
    50% {
        transform: translate(0%, -1%);
    }
    100% {
        transform: translate(0%, 1%);
    }}

@-webkit-keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
@-webkit-keyframes blink-caret {
        50% {
            border-color: transparent;
        }
    }    

@media (orientation: portrait){


    .content__intro{
        position: absolute;
        top: 50%;
    }

        .content__intro h3{
            position: absolute;
            top: -12vw;
            font-size: 10vw;
        }

        .content__intro h1{
            position: absolute;
            top: 0;
            font-size: 10vw;
        }

        .content__intro h4{
            position: absolute;
            top: 15vw;
            font-size: 4.5vw;
            width: 70%;
        }

    .wave_up{
            display: flex;
            position:fixed;
            top:60%;
            left:0px;
            z-index: 11;
            overflow-y: hidden;
            animation:none;
        }

    .wave_down{
        display: flex;
        position:fixed;
        top:60%;
        left:0px;
        z-index: 11;
        overflow-y: hidden;
        animation:none;
    }
}